.custom-btn {
  background-color: #7AB2B2 !important;
  border: 2px solid #088395 !important;
  color: #EBF4F6 !important;
  border-radius: 8px !important;      // text color
  transition: 0.2s ease; // smooth hover
}

.custom-btn:hover {
  background-color: #7AB2B2 !important;
  color: #09637E !important;              // hover text color
  border: #09637E !important;
}
