.custom-btn {
  background-color: #7AB2B2 !important;
  color: #EBF4F6 !important;
  border-radius: 10px !important;      // text color
  transition: 0.2s ease; // smooth hover
}

.custom-btn:hover {
  background-color: #7AB2B2 !important;
  color: #09637E !important;              // hover text color
  border: #09637E !important;
}

.custom-camera-btn {
  background-color: #EBF4F6 !important;
  border: 2px solid #088395 !important;
  color: #09637E !important;
  border-radius: 8px !important;      // text color
  transition: 0.2s ease; // smooth hover
  width: auto !important;
  padding: 6px 10px;
}

.custom-retake-btn {
  background-color: #088395 !important;
  border:1px solid #EBF4F6 !important;
  color: #EBF4F6 !important;
  border-radius: 8px !important;
  width: auto !important;
}
